/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-github-prof-card  {

}

#github-card-repo-input {

	margin: 1px 0;

	> h2 {
		margin-bottom: 0.2em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			margin-bottom: 3px;
		}
	}

	> p {
		margin-bottom: 0.5em;
	}

	input {
		flex: 1;
	}

	div {
		margin: 0;
	}

	.container {
		display: flex;
		align-items: center;

		button {
			padding: 0px;
		}

		> div.components-base-control {
			flex: 1;
		}
		svg {
			width: 15px;
			height: 15px;
		}

		div.buttons {
			margin-right: 2px;
			opacity: 0;
			&.visible {
				opacity: 0.5;
				&:hover{
					opacity: 1;
				}
				.disabled {
					opacity: 0;
					cursor: default;
				}
			}
		}
	}
}
