/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-github-prof-card  {
  background: $white;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
