/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-cgb-block-github-card  {
	background: white;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
  color: $black;
  margin: 0 auto;
  max-width: 740px;

	.components-base-control__help {

		font-size: 13px;

	}
}
